
// Color variables

//Fonts
$background-color-1:       #22272E; //header
$font-color-1:             #22272E; //main text
$background-color-2:       #37414B; //global header search
$background-color-3:       #4D5969; //global header hover
$font-color-2:             #627386; //secondary
$font-color-3:             #7C8D9F; //icons
$font-color-4:             #9AA5B5; //h4 and disabled
$border-color-1:           #B8BFCA;
$border-color-2:           #D5DAE0;
$border-color-3:           #F2F4F6;
$background-color-3:       #F2F4F6;

// Monochrome
$black:             #000000;
$semi-black:        #1B2025;
$dark-grey-1:       #22272E;
$dark-grey-2:       #37414B;
$dark-grey-3:       #4D5969;
$grey-1:            #627386;
$grey-2:            #7C8D9F;
$grey-3:            #9AA5B5;
$light-grey-1:      #B8BFCA;
$light-grey-2:      #D5DAE0;
$light-grey-3:      #F2F4F6;
$semi-white:        #F8F9FA;
$white:             #FFFFFF;

// Blues
$dark-blue-1:       #1D4FB0;
$dark-blue-2:       #2068CA;
$dark-blue-3:       #2282E3;
$blue-1:            #22A5F7;
$blue-2:            #58B9FD;
$blue-3:            #8FD1FE;
$light-blue-1:      #BBE3FE;
$light-blue-2:      #DEF0FD;
$light-blue-3:      #EDF7FE;
$semi-white-blue:   #F6FBFE;

// Reds
$dark-red-1:        #AD3951;
$dark-red-2:        #C64153;
$dark-red-3:        #DF4A53;
$red-1:             #F16363;
$red-2:             #F97F7D;
$red-3:             #FCA9A8;
$light-red-1:       #FDCCCB;
$light-red-2:       #FEE5E5;
$light-red-3:       #FEF1F1;
$semi-white-red:    #FEF8F8;

// Yellows
$dark-yellow-1:     #B36200;
$dark-yellow-2:     #CD7D00;
$dark-yellow-3:     #E69C00;
$yellow-1:          #FFBC0B;
$yellow-2:          #FFCF26;
$yellow-3:          #FFDF7A;
$light-yellow-1:    #FFECB0;
$light-yellow-2:    #FFF5D8;
$light-yellow-3:    #FFF9EA;
$semi-white-yellow: #FFFCF4;

// Greens
$dark-green-1:      #15935B;
$dark-green-2:      #18A85E;
$dark-green-3:      #18BE5F;
$green-1:           #36D068;
$green-2:           #5FDE87;
$green-3:           #95E9B0;
$light-green-1:     #C0F1CF;
$light-green-2:     #DFF8E7;
$light-green-3:     #EDFBF1;
$semi-white-green:  #F6FDF8;

//typography
$h1:       200 29px/20px 'nutanix_soft', san-serif;
$h2:       400 18px/12px 'nutanix_soft', san-serif;
$h3:       500 14px/10px 'nutanix_soft', san-serif;
$h3-alt:   400 14px/10px 'nutanix_soft', san-serif;
$h4:       400 12px/8px  'nutanix_soft', san-serif;
$p:        300 14px/22px 'nutanix_soft', san-serif;
$p-alt:    300 14px/10px 'nutanix_soft', san-serif;
$a:        400 14px/10px 'nutanix_soft', san-serif;

//sizes
$extra-small:  7px;
$small:        10px;
$medium:       20px;
$large:        30px;
