html {
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  background-color: #F2F4F6;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  box-sizing: content-box;
}

body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  box-sizing: content-box;
}

h1 {
  font: 200 29px/20px "nutanix_soft", san-serif;
  font-size: 42px;
  margin-bottom: 20px;
  color: #7C8D9F;
}

h3 {
  font: 500 14px/10px "nutanix_soft", san-serif;
  color: #627386;
  margin-bottom: 18px;
  position: relative;
}

.min-separator {
  width: 40px;
  height: 1px;
  border-bottom: 1px solid #D5DAE0;
  margin-bottom: 15px;
}

p {
  font: 400 14px/22px "nutanix_soft", san-serif;
  color: #627386;
  text-align: center;
  margin-bottom: 15px;
}

p a {
  color: #22A5F7;
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-decoration: none;
}

p a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.loader {
  height: 2px;
  width: 100%;
  box-sizing: border-box;
  background-color: #22A5F7;
  transform: scaleX(0);
  position: relative;
  animation: load 3600ms cubic-bezier(0.165, 0.84, 0.44, 1) 1200ms infinite forwards;
}

.loader::after {
  content: '';
  background-color: transparent;
  height: 2px;
  width: 80%;
  top: 0;
  right: 0;
  position: absolute;
}

.triangle {
  position: relative;
  background-color: orange;
  text-align: left;
}

.triangle:before,
.triangle:after {
  content: '';
  position: absolute;
  background-color: inherit;
}

.triangle,
.triangle:before,
.triangle:after {
  width: 0.5em;
  height: 0.5em;
  border-top-right-radius: 30%;
}

.triangle {
  transform: rotate(-60deg) skewX(-30deg) scale(1, 0.866);
}

.triangle:before {
  transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707) translate(0, -50%);
}

.triangle:after {
  transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
}

@keyframes load {
  0% {
    opacity: 1;
    transform: scaleX(0);
    transform-origin: left center;
  }
  80% {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left center;
  }
  100% {
    opacity: 0;
    transform: scaleX(1);
    transform-origin: left center;
  }
}

h4 {
  font: 400 14px/10px "nutanix_soft", san-serif;
  line-height: 9pt;
  display: block;
  height: 10px;
  font-weight: 500;
}

h4 code {
  font-weight: 400;
  color: #7C8D9F;
  padding-left: 10px;
}

h4 code kbd {
  margin: 0 7px;
}

span {
  line-height: 10px;
  height: 10px;
  display: block;
}

header {
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: "";
  background-color: #22272E;
  color: transparent;
}

link {
  margin-top: 20px;
}

.container {
  height: 100%;
  width: calc(400px - 40px);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1280px;
  margin: 0px auto;
  overflow-x: hidden;
  box-sizing: content-box;
}

.link {
  color: #22A5F7;
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-decoration: none;
  text-decoration-color: #1856ad;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* ==========================================================================
*/
.primary {
  margin: 0;
  border-radius: 4px;
  padding: 11px 15px;
  color: #FFFFFF;
  font: 400 14px/10px "nutanix_soft", san-serif;
  font-weight: 500;
  border: none;
  text-decoration: none;
  background-color: #22A5F7;
  outline: none;
  border: 1px solid transparent;
  height: 32px;
  flex-shrink: 0;
}

.primary:hover {
  color: #FFFFFF;
  cursor: pointer;
  background-color: #1f88de;
}

.primary:active {
  color: #FFFFFF;
  background-color: #1b6dc6;
}

.primary span {
  height: 10px;
  display: block;
  font-weight: 500;
  line-height: 9pt;
}

.secondary {
  border: 1px solid #D5DAE0;
  border-radius: 4px;
  padding: 11px 15px;
  color: #22272E;
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-decoration: none;
  background-color: #FFFFFF;
  margin: 0;
  outline: none;
  height: 32px;
  box-sizing: border-box;
  flex-shrink: 0;
}

.secondary:hover {
  color: #22A5F7;
  cursor: pointer;
}

.secondary:active {
  color: #91d2fb;
}

.secondary span {
  height: 10px;
  display: block;
  font-weight: 500;
  line-height: 9pt;
}
