//Comment for compiler
@import '../../_ntnx/variables';
@import '../../_ntnx/mixins';


html {
  @include font;
  background-color: $light-grey-3;
  overflow-x: hidden;
  @include size(100%, 100%);
  box-sizing: content-box;
}

body {
  @include size(100%, 100%);
  overflow: hidden;
  box-sizing: content-box;
}


h1{
  font:$h1;
  font-size: 42px;
  margin-bottom: 20px;
  color: $font-color-3;
}

h3{
  font:$h3;
  color: $font-color-2;
  margin-bottom: 18px;
  position: relative;

}

.min-separator{
  width: 40px;
  height: 1px;
  border-bottom: 1px solid $border-color-2;
  margin-bottom: 15px;
}

p{
  font: $p;
  color: $font-color-2;
  text-align: center;
  margin-bottom: 15px;
}

p a{
@include link;

}

.loader{
  @include size(2px, 100%);
  background-color: $blue-1;
  transform: scaleX(0);
  position: relative;
  animation: load 3600ms $animation 1200ms infinite forwards;
  &::after{
    content:'';
    background-color: transparent;
    height: 2px;
    width: 80%;
    top:0;
    right: 0;
    position: absolute;
    // box-shadow: 0px 2px 2px $light-blue-1;
  }

}

.triangle {
	position: relative;
	background-color: orange;
	text-align: left;
}
.triangle:before,
.triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
	width:  0.5em;
	height: 0.5em;
	border-top-right-radius: 30%;
}

.triangle {
	transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

// code{
//   background-color: $light-red-2;
//   color: $dark-red-2;
//   padding: 0px 5px;
//   border-radius: 3px;
// }

@keyframes load{
  0%{
    opacity: 1;
    transform: scaleX(0);
    transform-origin:left center;
  }

  80%{
    opacity: 1;
    transform: scaleX(1);
    transform-origin:left center;
  }

  100%{
    opacity: 0;
    transform: scaleX(1);
    transform-origin:left center;
  }

}

h4{
  font:$h3-alt;
  line-height: 9pt;
  display: block;
  height: 10px;
  font-weight: 500;
  code{
    font-weight: 400;
    color:$font-color-3;
    padding-left: 10px;
    kbd{
      margin: 0 7px;
    }
  }
}

span{
  line-height: 10px;
  height: 10px;
  display: block;
}

header {
  @include size(60px, 100%);
  @include padding();
  @include flex(center, space-between, '');
  background-color: $background-color-1;
  color: transparent;
}
link{
  margin-top: 20px;
}

//container
.container {
  @include size(100%, calc(400px - 40px));
  @include flex(center, center, column);
  max-width: 1280px;
  margin: 0px auto;
  overflow-x: hidden;
    box-sizing: content-box;
}


.link{
  @include link;
  text-decoration-color: $dark-blue-1;
}

/* ==========================================================================
*/

  .primary{
    @include primary;
    border: 1px solid transparent;
    height: 32px;
    flex-shrink: 0;
  }

  .secondary{
    @include secondary;
    height: 32px;
    box-sizing: border-box;
    flex-shrink: 0;
  }
