//Comment for compiler
@import '../../_ntnx/variables';
@import '../../_ntnx/mixins';

span{
  line-height: 10px;
  height: 10px;
  display: block;
}

html {
  @include font;
  background-color: $light-grey-3;
}

body {
  @include size(100%, 100%);
  overflow-x: hidden;
}

h4{
  font:$h3-alt;
  line-height: 9pt;
  display: block;
  height: 10px;
  font-weight: 500;
}

header {
  @include size(60px, 100%);
  @include padding();
  @include flex(center, space-between, '');
  background-color: $background-color-1;
  color: transparent;
}

//container
.container {
  @include size(100%, 100%);
  @include flex(center, center, column);
  max-width: 1280px;
  margin: 8px auto;
  padding: 20px;
}

//actions
.actions {
  @include flex(center, flex-start, row);
  @include size(auto, 100%);

  .primary {
    @include primary;
    margin-right: 10px;
  }

  .secondary {
    @include secondary-alt;
    margin-bottom: 0;
  }
}

/* ==========================================================================
Cards
========================================================================== */
.deck {
  @include size(auto, 100%);
  @include flex(flex-start, space-between, row);
  flex-wrap: wrap;
}

.card {
  @include secondary-alt;
  width: calc(50% - 9px);
  font: $h3-alt;
  padding: 0;
  margin: $medium 0 0;
  &:hover{
    color:initial;

    .card-title a{
      opacity: 1;
    }
  }
  p {
    margin-top: 12px;
    color: $font-color-2;
    font-weight: 300;
  }

  &::before {
    top: calc(65% + 1.5px);
  }

  &::after {
    top: calc(65% - 2px);
  }
}

.card-title {
  @include padding(14px, 20px);
  color: $font-color-1;
  border-bottom: 1px solid $border-color-3;
  @include flex(center, space-between, row);
  a{
    @include transition(opacity);
    opacity: 0;
    will-change: opacity;
    color:$blue-1;

    &:hover{
    text-decoration: underline;
    }
  }

}
.auth{
  &:hover{
    cursor: default;
  }
}
.card-body {
  padding: 23px 20px;
}

.img{
  height: 120px;
  width: 120px;
  border-radius: 6px;
  background-image: url('../img/icon.png');
  background-color: pink;
  background-size: cover;
  display:flex;
  // margin: 0 auto 20px auto;
  margin-bottom: 20px;
}


@media (max-width: 800px) {
  .card {
    width: 100%;
  }

  .container{
    min-width: 320px;
  }
}
