//Comment for compiler
@import '../../_ntnx/variables';
@import '../../_ntnx/mixins';


html {
  @include font;
  background-color: $light-grey-3;
  overflow-x: hidden;
}

body {
  @include size(100%, 100%);
  overflow-x: hidden;
}


button{
  outline: none;
}

h4{
  font:$h3-alt;
  line-height: 9pt;
  display: block;
  height: 10px;
  font-weight: 500;
  code{
    font-weight: 400;
    color:$font-color-3;
    padding-left: 10px;
    kbd{
      margin: 0 7px;
    }
  }
}

span{
  line-height: 10px;
  height: 10px;
  display: block;
}

header {
  @include size(60px, 100%);
  @include padding();
  @include flex(center, space-between, '');
  background-color: $background-color-1;
  color: transparent;
}

//container
.container {
  @include size(100%, 100%);
  @include flex(center, center, column);
  max-width: 1280px;
  margin: 8px auto;
  padding: 20px;
  overflow-x: hidden;
}

//actions
.actions {
  @include flex(center, flex-start, row);
  @include size(auto, 100%);

  .primary {
    @include primary;
    margin-right: 10px;
  }

  .secondary {
    @include secondary-alt;
    margin-bottom: 0;
  }
}

/* ==========================================================================
Cards
========================================================================== */
.deck {
  @include size(auto, 100%);
  @include flex(flex-start, space-between, row);
  flex-wrap: wrap;
}

.card {
  @include secondary-alt;
  width: calc(25% - 13px);
  font: $h3-alt;
  padding: 0;
  margin: $medium 0 0;

  &:hover{
      color:initial;

      .card-title a{
        opacity: 1;
      }
    }

  p {
    margin-top: 12px;
    color: $font-color-2;
    code{
      background-color: $light-blue-3;
      color:$dark-blue-3;
      border-radius: 3px;
      padding: 0 5px;
    }
  }

}

.card-title {
  @include flex(center, space-between, row);
  padding: 14px 20px;
  color: $font-color-1;
  border-bottom: 1px solid $border-color-3;

  .balance{
    @include flex(center, space-between, row);
  }
  a{
    @include transition(opacity);
    opacity: 0;
    will-change: opacity;
    color:$blue-1;

    &:hover{
    text-decoration: underline;
    }
  }
}

.card-body {
  padding: 23px 20px;
}

/* ==========================================================================
Graph
========================================================================== */
.graph {
  width: 100%;

  .card-title {
    @include flex(center, space-between, row);
    kbd {
      font: $h3-alt;
      color: $font-color-3;
      margin-right: 10px;
    }
  }
  &::before, &::after{
    display: none;
  }
  ul{
    min-width:30px;
  }
  ul:hover{
    cursor: default;

  }
  li{
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 30px;
    color:$font-color-2;
    cursor: default;
    &:hover{
    color:initial;
    cursor: default;
    }
  }
}

.all-values{
  @include flex(flex-end, flex-start, row);
}

select{
  width: 140px;
  @include secondary;
  display: flex;
  flex-grow: 1;
  height: 32px;
  line-height: 9pt;
  padding: 8px 15px;
  -webkit-appearance:none;
  text-align: left;
  position: relative;
  background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 16 8" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M5.35618788,2.22742546 C5.7117555,2.65410659 5.55628335,3 5.00019251,3 L1.99980749,3 C1.44762906,3 1.28678179,2.65586185 1.64381212,2.22742546 L3.18337327,0.379952073 C3.35824139,0.170110337 3.64889956,0.178679466 3.81662673,0.379952073 L5.35618788,2.22742546 Z M1.64381212,5.77257454 C1.2882445,5.34589341 1.44371665,5 1.99980749,5 L5.00019251,5 C5.55237094,5 5.71321821,5.34413815 5.35618788,5.77257454 L3.81662673,7.62004793 C3.64175861,7.82988966 3.35110044,7.82132053 3.18337327,7.62004793 L1.64381212,5.77257454 Z" fill="#637286"></path></svg>') no-repeat right center #fff;
  background-size: 16px 8px
}

.thirty{
  width: 145px
}

.trend{
  @include flex(flex-end, flex-start, row);
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  direction:rtl;
  &::before{
    position: absolute;
    content: '';
    width: 1140px;
    height: 1px;
    background-color: $blue-1;
    top:calc(50% + 2px);
    right: 30px;
  }
  ul{
    opacity:0;
  }
}

.x-values{
  @include flex(flex-end, flex-start,row);
  height: 100%;
  flex-grow: 1;
  border-top: 1px solid $border-color-3;
  padding-top: 10px;
  margin-right:-20px;

  p{
    font-size: 12px;
    font-weight: 400;
    margin: 0 12.5px;
    position: relative;
    &:hover{
      color: $font-color-1;
      &::before{
        background-color: $border-color-2;
      }
      &::after{
        border-color: $dark-blue-2;
      }
    }
    &::before{
      content: '';
      position: absolute;
      height: 180px;
      width: 1px;
      background-color: $border-color-3;
      bottom: 20px;
      left: calc(40% - 6px);
      background-clip: padding-box;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
    }
    &::after{
      content:'';
      height: 3px;
      width: 3px;
      border-radius: 4px;
      background-color: white;
      border: 1px solid $blue-1;
      position: absolute;
      bottom:100px;
      left: calc(50% - 2px);
      z-index: 2;

    }
  }
}

.tooltip-graph{
  position: absolute;
  background-color: $background-color-1;
  border-radius: 4px;
  top:-150px;
  right:-36px;
  z-index: 99;
  line-height: 10px;
  padding: 11px 15px;
  color: white;
  font-weight: 500;
  &::after{
    @include size(12px, 12px);
    content: '';
    display: block;
    position: absolute;
    top:22px;
    left: 41%;
    border-radius: 2px;
    background-color:inherit;
    transform: rotate(45deg);
    z-index: -1;
  }
}

.click{
  background-color: $blue-1;
}

.graph-body {
  @include size(auto, 100%);
  padding: 20px;

  svg {
    width: 100%;
    opacity: 0.3
  }
}
.info-pair input,  .info-pair select{
  margin-top: 10px;
}

/* ==========================================================================
Table
========================================================================== */
.table{
  margin-top: 20px;
  width: 100%;
  background-color: white;
  border-radius: 6px;
}

.table:hover{
  @include shadow;
  tr:last-child{
    border-bottom: none;
    border-radius: 0px 0px 4px 4px;
    td{
      border-bottom: 1px solid transparent;
      border-radius: 0px 0px 4px 4px;
    }
  }
  thead tr:first-child{
    background: none;
  }
}

th{
  font:$h4;
  color:$font-color-2;
  font-weight: 500;
}
th:not(:last-child){
  border-right: 1px solid $border-color-3;
}


th, td{
  height: 40px;
  text-align: left;
  padding-left: 20px;
  line-height: 10px;
  vertical-align: middle;
  border-bottom: 1px solid $border-color-3;
  code{
    background-color: $light-blue-3;
    border-radius: 2px;
    padding: 1px 5px;
    color: $dark-blue-3;
    font-size: 12px;
    margin-right: 15px;
  }
  a{
    color:$font-color-3;
    margin-left: 5px;
  }
}

th:not(:first-child), td:not(:first-child){
  text-align: right;
  vertical-align: middle;
  width: 100px;
  padding-right: 20px;
}

th:nth-child(2), td:nth-child(2){
  width: 60px;
}

tr:hover{
  background-color: $semi-white-blue;
  cursor: pointer;
}


td{
  white-space: nowrap;
}

td:last-child{
  margin-left: -50px;
  position: relative;
  right: 15px;
}

.tusage td:last-child{
  right: 0;
}

td kbd{
  margin-left: 10px;
  color:$grey-2;
  position:absolute;
  font-size: 11px;
  height: 8px;
  width: 20px;
  right: 5px;

  &::before{
    color:$grey-2;
    content: '•';
    position: absolute;
    top:-4px;
  }
  &::after{
    color:$grey-2;
    content: '•';
    position: absolute;
    top:4px;
    right:0px;
  }
  &:hover, &:hover::before, &:hover::after{
    color:$blue-1;
    cursor: pointer;
  }
}

.table-header:hover{
  background-color: white;
  cursor: initial;
}

.prev-bills td:first-child{
  &:hover{
    color:$blue-1;
  }
}

.floater{
  @include secondary;
  @include shadow;
  position: absolute;
  top:24px;
  right:-15px;

  z-index: 3000;
  a {
    margin-left: 0;
    text-decoration: none;
    color:$font-color-1;
    &:hover{
      color:$blue-1;
    }
  }
  &:hover{
    color:$blue-1;
  }
  &::after{
    content: '';
    position: absolute;
    top:-4px;
    transform: rotate(45deg) scale(0.8);
    border-radius: 1.5px;
    right: 10px;
    background-color: white;
    box-shadow: -1px -1px 0 0 $border-color-2;
    height: 10px;
    width: 10px;
    display: block;
  }
}
.link{
  @include link;
}

/* ==========================================================================
Popup
========================================================================== */
.overlay{
  @include size(100%, 100vw);
  @include flex(center, center, column);
  @include absolute();
  background-color: rgba(0,0,0,0.4);
  overflow: hidden;
  z-index: 100;
}

.popup{
  @include size(auto,400px);
  @include shadow;
}

.popup-header{
  @include flex(center, center ,row);
  @include size(auto, 100%);
  position:relative;
  background-color: white;
  border-radius: 4px 4px 0 0;
  padding: 20px;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid $border-color-3;
  line-height: 10px;

  &:hover::before, &:hover::after{
    background-color:$font-color-1;
  }

  &:hover{
    cursor: pointer;
  }

  &::before, &::after{
  content:'';
  @include absolute(18px,'',23px);
  @include size(14px, 2px);
  border-radius: 3px;
  display: block;
  background-color: $font-color-3;
  }

  &::before{
    transform: rotate(45deg);
  }
  &::after{
    transform: rotate(-45deg);
  }
}

.popup-body{
  @include size(auto,100%);
  @include flex(center, flex-start, column);
  @include inputs;
  padding: 30px 20px;
  background-color: white;
  max-height: 500px;

  overflow-y: scroll;

  h1{
    font: $h3;
    line-height: 1.6;
    margin-bottom: 10px;
    margin-top: -8px;
    width: 100%;
  }

  h3{
    font: $h3;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: -8px;
    width: 100%;
    code{
      background-color: $light-blue-3;
      color:$dark-blue-3;
      border-radius: 3px;
      padding: 0 5px;
    }
  }

  p{
    line-height: 1.5;
    margin-bottom: -6px;
    color: $font-color-2;
  }

  .separator{
    @include size(1px, 100%);
    background-color: $border-color-3;
    margin: 30px 0;
    flex-shrink: 0;
  }

  .file-button{
    @include size(32px, auto);
    @include secondary;
    border-radius: 0 4px 4px 0;
    flex-shrink: 0;
  }

  .primary{
    @include size(32px, 100%);
    @include primary;
    margin-top: 20px;
    flex-shrink: 0;
  }

  .secondary{
    @include size(32px, 100%);
    @include secondary;
    margin-top: 20px;
    flex-shrink: 0;
  }

  input.confirm-deletion{
    margin-top: 20px;
    margin-bottom: 0;
  }


  .delete{
    border-radius: 4px;
    border: none;
    margin-top: 20px;
    background-color: $red-1;
    &:hover{
      background-color: $dark-red-3;
    }
  }


  code{
    background-color: $light-blue-3;
    color:$dark-blue-3;
    border-radius: 3px;
    padding: 2px 5px;
    font-size: 12px;
    text-align: left;
    margin: 0 auto 10px 0;
  }

  .money{
    font:$h1;
    font-weight: 200;
    color:$font-color-1;
    margin-top: 10px;
    margin-bottom: 40px;
    background: none;
    width: 100%;
    text-align: center;
    justify-content: center;
    &::before{
      content: '$';
    }
    &::after{
      content: '.00';
    }
  }


  .term{
    @include secondary;
    margin-top: 10px;
    margin-bottom: 20px;
    padding:0;
    height: 32px;
    border-radius: 0 4px 4px 0;
    border-left: none;
    line-height: 30px;
    padding-left: 10px;
    width: 30%;
  }
  input[type="number"], .term {
    margin-bottom: 10px !important;
  }

}


.banner{
  @include size(40px, 100%);
  @include flex(center,'','');
  padding:8px 20px;
  line-height: 10px;
  color: $dark-green-3;
  font-weight: 400;
  z-index: 1;
  background-color: $light-green-3;
}

.error-ban{
  color:$dark-red-3;
  background-color: $light-red-3;
}


.popup-footer{
  @include flex(center,flex-end,row);
  @include size(72px, 100%);
  border-radius:
  0   0
  4px 4px;
  border-top: 1px solid $border-color-3;
  background-color: white;
  padding: 20px;

  .primary{
    @include primary;
    border: 1px solid transparent;
    height: 32px;
    flex-shrink: 0;
  }

  .secondary{
    @include secondary;
    height: 32px;
    box-sizing: border-box;
    margin-right: 10px;
    flex-shrink: 0;
  }

}

#redeem-input{
  @include transition(all);
}

input[type="file"]{
  display: none;
}

.upload-file{
  width: 100%;
  flex-shrink: 0;
  @include flex(center, space-between, row);
  .file-button{
    @include secondary;
    @include size(32px, auto);
    border-radius: 0 4px 4px 0;
    border-left:none;
    border-color: $border-color-1;
  }



  input#path2.path{
    margin: 0;
    display: flex;
    flex-grow: 1;
    border-radius: 4px 0 0 4px;
  }
}

.tax-block{
  @include size(14px, 100%);
  @include flex(center, center, row);
  input{
    maring:0;
  }
  p{
    flex-grow: 1;
    height: 10px;
    margin-left: 10px;
    margin-bottom: 0;
    line-height: 9pt;
  }
}

.show{
  animation: shows 600ms $animation 100ms forwards;
}

.peek{
  animation: hides 600ms $animation forwards;
}

.appear{
  animation: appear 600ms $animation 100ms forwards;
}

.disappear{
  animation: disappear 600ms $animation forwards;
}



.second{
  &::after{
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.30);
    border-radius: 4px;
  }
  animation: layer 600ms $animation 100ms forwards;
}


/* ==========================================================================
Animation
========================================================================== */

@keyframes appear {
  from{
    opacity: 0;
    transform:translate3d(0, 50px, 0);
  }

  to{
    opacity: 1;
    transform:translate3d(0, 0, 0);
  }
}

@keyframes disappear {
  from{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  to{
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
}

@keyframes shows {
  from{ opacity: 0;}
  to{ opacity: 1; }
}

@keyframes hides {
  from{ opacity: 1;}
  to{ opacity: 0;}
}

iframe input.text-input{
  border-color: red;
}

@keyframes layer{
  from{
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
  }
  to{
    opacity: 1;
    transform: scale(0.95) translate3d(0, -45px, 0);
  }
}
/* ==========================================================================
Media Queries
========================================================================== */


@media (max-width: 1024px) {
  .deck {
    .card {
      width: calc(50% - 10px);
    }
  }
}

@media (max-width: 600px) {
  .deck {
    .card {
      width: 100%;
    }
  }

  .container{
    min-width: 320px;
  }

  th:not(:first-child), td:not(:first-child){
    width: 65px;
  }

}

@media (max-width: 420px) {
  h4 code{display: none;}
  td a{display: none;}
  td code{display: none;}
}
