//Comment for compiler
@import '../../_ntnx/variables';
@import '../../_ntnx/mixins';

span{
  line-height: 10px;
  height: 10px;
  display: block;
}

html {
  @include font;
  background-color: $light-grey-3;
}

body {
  @include size(100%, 100%);
  overflow-x: hidden;
}

h4{
  font:$h3-alt;
  line-height: 9pt;
  display: block;
  height: 10px;
  font-weight: 500;
}

header {
  @include size(60px, 100%);
  @include padding();
  @include flex(center, space-between, '');
  background-color: $background-color-1;
  color: transparent;
}

//container
.container {
  @include size(100%, 100%);
  @include flex(center, center, column);
  max-width: 1280px;
  margin: 8px auto;
  padding: 20px;
}

//actions
.actions {
  @include flex(center, flex-start, row);
  @include size(auto, 100%);

  .primary {
    @include primary;
    margin-right: 10px;
  }

  .secondary {
    @include secondary-alt;
    margin-bottom: 0;
  }
}

/* ==========================================================================
Cards
========================================================================== */
.deck {
  @include size(auto, 100%);
  @include flex(flex-start, space-between, row);
  flex-wrap: wrap;
}

.card {
  @include secondary-alt;
  width: calc(50% - 9px);
  font: $h3-alt;
  padding: 0;
  margin: $medium 0 0;
  &:hover{
    color:initial;

    .card-title a{
      opacity: 1;
    }
  }
  p {
    margin-top: 12px;
    color: $font-color-2;
    font-weight: 300;
  }

  &::before {
    top: calc(65% + 1.5px);
  }

  &::after {
    top: calc(65% - 2px);
  }
}

.card-title {
  @include padding(14px, 20px);
  color: $font-color-1;
  border-bottom: 1px solid $border-color-3;
  @include flex(center, space-between, row);
  a{
    @include transition(opacity);
    opacity: 0;
    will-change: opacity;
    color:$blue-1;

    &:hover{
    text-decoration: underline;
    }
  }

}
.auth{
  &:hover{
    cursor: default;
  }
  h3{
    color:$blue-1;
    line-height: 30px;
    &:hover{
      text-decoration: underline;
      cursor: pointer;
    }
  }

}
.card-body {
  padding: 23px 20px;
}

.img{
  height: 120px;
  width: 120px;
  border-radius: 6px;
  background-image: url('../img/icon.png');
  background-color: pink;
  background-size: cover;
  display:flex;
  // margin: 0 auto 20px auto;
  margin-bottom: 20px;
}


/* ==========================================================================
Popup
========================================================================== */
.overlay{
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  @include size(100vh, 100vw);
  overflow: hidden;
  @include flex(center, center, column);
}

.popup{
  @include size(auto,400px);
}
.popup-header{
  background-color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  @include size(auto, 100%);
  position:relative;
  @include flex(center, center ,row);
  padding: 20px;
  font-size: 14px;
  font-weight: 500;
    border-bottom: 1px solid $border-color-3;
  line-height: 10px;

  &::before, &::after{
  content:'';
  top: 18px;
  @include size(14px, 2px);
  border-radius: 3px;
  right: 23px;
  display: block;
  position: absolute;
  background-color: $font-color-3;
  }
  &::before{
    transform: rotate(45deg);
  }
  &::after{
    transform: rotate(-45deg);
  }
}
.popup-body{
  @include size(auto,100%);
  @include flex(center, flex-start, column);
  padding: 20px;
  background-color: white;
  box-sizing: border-box;
  input{
    border-radius: 4px;
    height: 32px;
    border: 1px solid $border-color-1;
    width: 100%;
    padding: 11px 10px;
    box-sizing: border-box;
    color:$font-color-1;
    font:$p-alt;
    position: relative;
    &:not(:last-child){
      margin-bottom: 20px;
    }
    &:focus{
       outline: none;
       border-color:$blue-1;
    }
    code{
      position: absolute;
      top: 0;
      right: 10px;
    }
  }

  label{
    font:$h4;
    text-align: left;
    width: 100%;
    font-weight: 500;
    color: $font-color-2;
    margin-bottom: 10px;
  }
}
.popup-footer{
  border-radius: 0 0 4px 4px;
  width: 100%;
  height: 72px;
  border-top: 1px solid $border-color-3;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  @include flex(center,flex-end,row);
  .primary{
    @include primary;
    border: 1px solid transparent;
    height: 32px;
  }
  .secondary{
    @include secondary;
    height: 32px;
    box-sizing: border-box;
    margin-right: 10px;
  }

}



/* ==========================================================================
Media Queries
========================================================================== */
@media (max-width: 800px) {
  .card {
    width: 100%;
  }

  .container{
    min-width: 320px;
  }
}
