@charset "UTF-8";
span {
  line-height: 10px;
  height: 10px;
  display: block;
}

html {
  font: 300 14px/10px "nutanix_soft", san-serif;
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  background-color: #F2F4F6;
  overflow-x: hidden;
}

body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

h4 {
  font: 400 14px/10px "nutanix_soft", san-serif;
  line-height: 9pt;
  display: block;
  height: 10px;
  font-weight: 500;
}

h4 code {
  font-weight: 400;
  color: #7C8D9F;
  padding-left: 10px;
}

h4 code kbd {
  margin: 0 7px;
}

header {
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: "";
  background-color: #22272E;
  color: transparent;
}

.container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1280px;
  margin: 8px auto;
  padding: 20px;
  overflow-x: hidden;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  height: auto;
  width: 100%;
  box-sizing: border-box;
}

.actions .primary {
  margin: 0;
  border-radius: 4px;
  padding: 11px 15px;
  color: #FFFFFF;
  font: 400 14px/10px "nutanix_soft", san-serif;
  border: none;
  text-decoration: none;
  background-color: #22A5F7;
  margin-right: 10px;
}

.actions .primary:hover {
  color: #FFFFFF;
  cursor: pointer;
  background-color: #2282E3;
}

.actions .primary:active {
  color: #FFFFFF;
  background-color: #2068CA;
}

.actions .primary span {
  height: 10px;
  display: block;
  font-weight: 500;
  line-height: 9pt;
}

.actions .primary:hover {
  box-shadow: 0 9px 9px 0 rgba(0, 0, 0, 0.02), 0 3px 3px 0 rgba(0, 0, 0, 0.02), 0 1px 1px 0 rgba(0, 0, 0, 0.02);
}

.actions select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #B8BFCA;
  border-radius: 4px;
  padding: 11px 15px;
  color: #22272E;
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-decoration: none;
  background-color: #FFFFFF;
  margin: 0;
  transition: box-shadow 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  border: none;
  font-size: 14px;
  height: 34px;
  width: 78px;
  text-align: center;
}

.actions select:hover {
  color: #22A5F7;
  cursor: pointer;
}

.actions select:active {
  color: #8FD1FE;
}

.actions select span {
  height: 10px;
  display: block;
  font-weight: 500;
  line-height: 9pt;
}

.actions select:hover {
  box-shadow: 0 9px 9px 0 rgba(0, 0, 0, 0.02), 0 3px 3px 0 rgba(0, 0, 0, 0.02), 0 1px 1px 0 rgba(0, 0, 0, 0.02);
}

.actions select span {
  height: 10px;
  display: block;
  font-weight: 500;
  line-height: 9pt;
}

select[disabled] {
  color: #9AA5B5;
  border-color: transparent;
  pointer-events: none;
}

input[type='checkbox'] {
  margin-right: 10px;
}

/* ==========================================================================
Table
========================================================================== */
.table {
  margin-top: 20px;
  width: 100%;
  background-color: white;
  border-radius: 6px;
}

.table:hover {
  box-shadow: 0 9px 9px 0 rgba(0, 0, 0, 0.02), 0 3px 3px 0 rgba(0, 0, 0, 0.02), 0 1px 1px 0 rgba(0, 0, 0, 0.02);
}

.table:hover tr:last-child {
  border-bottom: none;
  border-radius: 0px 0px 4px 4px;
}

.table:hover tr:last-child td {
  border-bottom: 1px solid transparent;
  border-radius: 0px 0px 4px 4px;
}

.table:hover thead tr:first-child {
  background: none;
}

th {
  font: 400 12px/8px "nutanix_soft", san-serif;
  color: #627386;
  font-weight: 500;
}

th:not(:last-child) {
  border-right: 1px solid #F2F4F6;
}

th, td {
  height: 40px;
  text-align: left;
  padding-left: 20px;
  line-height: 10px;
  vertical-align: middle;
  font-weight: 400;
  border-bottom: 1px solid #F2F4F6;
}

th code, td code {
  background-color: #EDF7FE;
  border-radius: 2px;
  padding: 1px 5px;
  color: #22A5F7;
  font-size: 12px;
  margin-right: 7px;
}

th a, td a {
  color: #7C8D9F;
  margin-left: 5px;
}

th:last-child, td:last-child {
  text-align: right;
  vertical-align: middle;
  padding-right: 20px;
  width: 120px;
}

tr:hover {
  background-color: #F6FBFE;
  cursor: pointer;
}

td:last-child {
  margin-left: -50px;
  position: relative;
  right: 15px;
}

th:not(:first-child), td:not(:first-child) {
  width: 100px;
}

td {
  white-space: nowrap;
}

td kbd {
  margin-left: 10px;
  color: #7C8D9F;
  position: absolute;
  font-size: 11px;
  height: 8px;
  width: 20px;
  right: 5px;
}

td kbd::before {
  color: #7C8D9F;
  content: '•';
  position: absolute;
  top: -4px;
}

td kbd::after {
  color: #7C8D9F;
  content: '•';
  position: absolute;
  top: 4px;
  right: 0px;
}

td kbd:hover, td kbd:hover::before, td kbd:hover::after {
  color: #22A5F7;
  cursor: pointer;
}

.table-header:hover {
  background-color: white;
  cursor: initial;
}

.usage td:last-child {
  right: 0;
  margin-left: 0;
}

/* ==========================================================================
Popup
========================================================================== */
.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: "";
  display: none;
}

.popup {
  height: 600px;
  width: 500px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 4px;
  z-index: 10;
}

.first-layer {
  box-shadow: 0 9px 9px 0 rgba(0, 0, 0, 0.02), 0 3px 3px 0 rgba(0, 0, 0, 0.02), 0 1px 1px 0 rgba(0, 0, 0, 0.02);
  opacity: 0;
}

.appear {
  animation: appear;
  animation-delay: 0.1s;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.back-layer {
  animation: back-layer;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.show {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: "";
  animation: show;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.second-layer {
  box-shadow: 0 9px 9px 0 rgba(0, 0, 0, 0.02), 0 3px 3px 0 rgba(0, 0, 0, 0.02), 0 1px 1px 0 rgba(0, 0, 0, 0.02);
  opacity: 0;
  height: 600px;
  position: absolute;
  top: calc(50vh - 300px);
  left: calc(50vw - 250px);
  pointer-events: none;
}

/* ==========================================================================
Animation
========================================================================== */
@keyframes appear {
  0% {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes back-layer {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
  }
  100% {
    opacity: 0.6;
    transform: translate3d(0, -55px, 0) scale(0.9);
  }
}

/* ==========================================================================
Media Queries
========================================================================== */
@media (max-width: 1024px) {
  .deck .card {
    width: calc(50% - 10px);
  }
}

@media (max-width: 600px) {
  .deck .card {
    width: 100%;
  }
  .container {
    min-width: 320px;
  }
  th:not(:first-child), td:not(:first-child) {
    width: 65px;
  }
}

@media (max-width: 420px) {
  h4 code {
    display: none;
  }
  td a {
    display: none;
  }
  td code {
    display: none;
  }
}
